<div th:fragment="frag_index_content" class="content-wrapper">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">💌 방명록 목록</h3>
        <div class="card-tools">
          <a th:href="@{/guestbook/create}">✎&emsp;</a>
        </div>
      </div>

      <div class="card-body">
        <div class="guestbook">
          <tr th:each="guestbook, idx: ${guestbooks}">
            <div class="user-block">
              <strong>
                &emsp;<a th:text="${ guestbook.name }"></a>
              </strong>
              <br>
              &emsp;<a th:text="${ #temporals.format( guestbook.getCreateDate(), 'yyyy-MM-dd HH:mm') }"></a>
            </div>
            <a th:href="|/guestbook/modify/${guestbook.id}|" class="btn btn-outline-dark" style="float:right">수정</a>
            <form method="delete" th:action="@{|/guestbook/delete/${guestbook.id}|}">
              <input type="submit" value="삭제" class="btn btn-outline-dark" style="float:right">
            </form>
            <div>
              <br>
              <br>
              &emsp;<a th:text="${ guestbook.content }"></a>
            </div>
            <br>
          </tr>
        </div>
      </div>

    </div>
  </div>
</div>